@font-face {
    font-family: 'Cera Pro';
    src: url('./assets/fonts/Cera Pro/CeraPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('./assets/fonts/Cera Pro/CeraPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('./assets/fonts/Cera Pro/CeraPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Monsterrat';
    src: url('./assets/fonts/Monsterrat/Montserrat-Regular.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
