.text {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #292929;
  &-container {
    margin-top: 51px;
    .text {
      margin: 31px auto;
      max-width: 270px;
    }
  }
  &_rotate-r {
    transform: rotate(90deg);
  }
  &_rotate-l {
    transform: rotate(-90deg);
  }
  &_f-monsterrat {
    font-family: "Monsterrat", sans-serif;
  }
  &_color-name {
    display: inline-block;
    // position: absolute;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.03em;
    margin-left: -10px;
    margin-top: 24px;
    color: #000000;
  }
  &_uppercase {
    text-transform: uppercase;
  }
  &_align-left {
    text-align: left;
  }
  &_align-right {
    text-align: right;
  }
  &_align-center {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .text {
    font-weight: 500;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0.04em;
    color: #000000;
    &-container {
      width: 330px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding: 0;
      margin: 49px 0 0 auto;
      .title {
        width: 100%;
      }
      .text {
        margin: 52px -3px 0 0px;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: -0.01px;
        color: #292929;
      }
      .text_color-name {
        position: absolute;
        left: 37px;
        margin-top: 91px;
      }
    }
    &_color-name {
      font-size: 16px;
      line-height: 20px;
      position: absolute;
      margin-left: -14px;
      margin-top: 0px;
      bottom: 33px;
    }
  }
}

@media (min-width: 960px) {
  .text {
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.04em;
    &-container {
      margin: 69px 38px 0 auto;
      .text {
        max-width: 290px;
        margin: 56px -39px 0 0;
        letter-spacing: 0.56px;
        line-height: 17px;
      }
    }
    &_color-name {
      bottom: 35px;
    }
  }
}

@media (min-width: 1440px) {
  .text {
    &-container {
      margin: 78px 150px 0 auto;
      width: 420px;
      .text {
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        max-width: 320px;
        margin: 52px -4px 0 0;
        letter-spacing: 0px;
      }
    }
    &_color-name {
      bottom: 45px;
      margin-left: -13px;
    }
  }
}

@media (min-width: 1920px) {
  .text {
    &-container {
      width: 437px;
      margin: 98px 259px 0 auto;
      .text {
        margin: 53px -4px 0 0;
      }
    }
    &_color-name {
      position: absolute;
      margin-left: -8px;
      margin-top: 0px;
      bottom: 45px;
    }
  }
}
